.header {
    background-color: #0070A7;
    padding-top: 30px;
    padding-bottom: 20px;
        .header__left {
            color: #fff;
            padding-bottom: 20px;
                h6 {
                    font-weight: 700;
                    font-size: 20px;
                }
        }

        .header__right {
            h4 {
                color: #9DCE5C;
                font-size: 20px;
                font-weight: 700;
                margin: 10px 0px;
                    .account__name {
                        color: #FF941F;
                    }
            }
            i {
                border: 1px solid #D0D0D0;
                color: #A3A3A3;
                font-size: 20px;
                background-color: #D0D0D0;
                border-radius: 50%;
                padding: 4px 5px;
                margin-left: 10px;
            }
        }

        .header__search {
            .search__input {
                width: 100%;
                border-radius: 30px;
                border: none;
                padding: 5px 10px;
            }
        }

}