
.stories__body {
    text-align: center;
    .stories__body__inner {
        h5 {
            color: #666666;
            margin: 40px 0px;
                span {
                    color: #F6CC3A;
                }
        }


        img {
            max-width: 400px;
            width: 100%;
        }
    }

    button {
        background-color: #75AD16;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 30px 0px;
    }
}